PORT=3000
HOST=0.0.0.0
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rate_limiter?connection_limit=50&pool_timeout=30"
TEST_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/rate_limiter_test?connection_limit=50&pool_timeout=30"
ADMIN_API_KEY=""
NODE_ENV=development
